<h2>Recent Posts:</h2>
<p id="username">{{name}}</p>

{{#each displayPosts as |post|}}
  <section id="postdiv{{post.id}}" class="card">
    <p class="cardsection">Subject: {{post.subject}}</p>
    <p class="cardsection">By: {{post.author_name}}</p>
    <p class="cardsection">Posted on: {{format_date post.createdAt}}</p>
    <p class="cardsection">{{post.post}}</p>
    <p id="blogId">{{post.id}}</p>
    <h3 id="comments">Comments:</h3>
    {{#each Comments as |comment|}}
      <p class="cardsection">"{{comment.comment}}"" -posted by
        {{comment.username}}
        at
        {{format_date comment.createdAt}}</p>
    {{/each}}
    <button class="addcomment button" class="button">+ Add Comment</button>
  </section>

{{/each}}

<script src="/js/addcomment.js"></script>